{
    auto_https off
}

(routes) {
    @admin path /admin /admin/*
    handle @admin {
        reverse_proxy admin-frontend:3000 {
            header_up Host {host}
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle_path /v1/* {
        reverse_proxy pocketbase:8090
    }

    handle {
        reverse_proxy public-frontend:3000 {
            header_up Host {host}
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}

{$DOMAIN} {
    import routes
}

:80 {
	import routes
}